In [271]:
import pandas as pd
import numpy as np
import tweepy as tp
import re

In [272]:
consumer_key="2xsV8waTmgpIRybs3ZoQFmVkE"
consumer_secret="VmJvW21EruwO4fXb8Kd4CbPbsktjQpUKRHMrguUZjgPGdF9em8"
access_token="3425340493-NJyfdeFH7QIZ3Y3By8uh9iIeaUPIn3CAUcprMid"
access_token_secret="jlNMB0r1QYL1xdUzgOh4sUUgqkNmmvK5aaWL7KUTZZEMC"
Bearer_token = "AAAAAAAAAAAAAAAAAAAAAMzZdwEAAAAA5nSrPNHZRUCQhQv5Tewj5auirzw%3DWii3iLoP9sDxPS9BRWkiGF9ZHF6LX6l0jqhM8JvCVTxoVCNqcF"

In [273]:
client = tp.Client(bearer_token = Bearer_token)

In [274]:
query = 'indian economy'
tweets = client.search_recent_tweets(query=query, tweet_fields=['context_annotations', 'created_at'], max_results=100)

In [275]:
df = pd.DataFrame(tweets[0])

In [276]:
df = df.drop(['context_annotations'], axis = 1)

In [277]:
df

,created_at,id,text
0,2022-08-26 12:12:57+00:00,1563137420509335552,"as per reports, The #ResurgentEssar is a big b..."
1,2022-08-26 12:12:50+00:00,1563137390767575041,Goals of Essar will surely give more boost to ...
2,2022-08-26 12:12:15+00:00,1563137244206370816,Guys check out this Indian economy and banks a...
3,2022-08-26 12:08:24+00:00,1563136277377339392,RT @MoneycareP: India receives record high FDI...
4,2022-08-26 12:05:43+00:00,1563135601460752384,નાણાકીય વર્ષ 22-23 ના પ્રથમ ત્રિમાસિક ગાળામાં ...
...,...,...,...
95,2022-08-26 11:33:34+00:00,1563127509641678848,RT @SevadalKL: India's outstanding debt is est...
96,2022-08-26 11:29:59+00:00,1563126609799827463,"Its good for Indian economy,Indian company Ess..."
97,2022-08-26 11:28:22+00:00,1563126199949606914,@Devinder_Sharma Piyush goyal is the most inco...
98,2022-08-26 11:25:20+00:00,1563125439866236929,FY 22-23 की पहली तिमाही में भारतीय अर्थव्यवस्थ...
99,2022-08-26 11:24:37+00:00,1563125259053989888,RT @rishibagree: In a big blow to arm chair ec...

In [278]:
for i in range(len(df['text'])):
    df['text'][i] = clean_data(df['text'][i])
df.text[99]

C:\Users\PRATHA~1\AppData\Local\Temp/ipykernel_27304/3334901521.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'][i] = clean_data(df['text'][i])

'RT : In a big blow to arm chair economists who were predicting gloom and doom about Indian Economy  - \n\n90,000 new companies re…'

In [234]:
#potential false attributes
pfi = ['tanking' 'down', 'going down', 'bad','worse','worsening','spiral','worst','rise','fall','falling','down','gone','done for','no future','debt']

# Flagging using key attributes

In [279]:
def identify_subject(tweet, refs):
    flag = 0 
    for ref in refs:
        if tweet.find(ref) != -1:
            flag = 1
    return flag

df['pfi'] = df['text'].apply(lambda x: identify_subject(x, pfi))

In [280]:
df2 = df[df.pfi != 0]
df2

,created_at,id,text,pfi
8,2022-08-26 11:57:23+00:00,1563133503817928704,RT : India's outstanding debt is estimated to ...,1
10,2022-08-26 11:55:33+00:00,1563133041643786241,RT : Racism against Indians will rise even mor...,1
16,2022-08-26 11:47:13+00:00,1563130946861543425,I would attribute it to the liberalization of...,1
19,2022-08-26 11:40:36+00:00,1563129277952176129,Consistently this will help the Indian economy...,1
30,2022-08-26 11:37:30+00:00,1563128499547693059,Proud to the Indian corporate come forward to ...,1
42,2022-08-26 11:36:45+00:00,1563128310015864834,Proud to the Indian corporate come forward to ...,1
48,2022-08-26 11:36:30+00:00,1563128249143934980,A debt repayment plan and this is a big step i...,1
78,2022-08-26 11:35:24+00:00,1563127973263609856,Such a significant news Essar bring a debt rep...,1
95,2022-08-26 11:33:34+00:00,1563127509641678848,RT : India's outstanding debt is estimated to ...,1

In [257]:
list = {"tweetId":[], "text":[]}
def clean_data(s):
    
    data = re.sub(r'@[a-zA-Z0-9_]:+', '', s)
    data = re.sub(r'@[a-zA-Z0-9_]+', '', data)
    data = re.sub(r'#[a-zA-Z0-9_]+', '', data)
    data = re.sub(r'^https:\/\/t\.co\/[a-zA-Z0-9]+', '', data)
    data = re.sub(r'^RT$', '', data)
    data = re.sub(r'^\n$', '', data)
    return data

# Flagging using emotion

[nltk_data] Downloading package stopwords to C:\Users\Pratham
[nltk_data]     Shah\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\Pratham
[nltk_data]     Shah\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [258]:
def preprocess_tweets(tweet, custom_stopwords):
    processed_tweet = tweet
    processed_tweet.replace('[^\w\s]', '')
    processed_tweet = " ".join(word for word in processed_tweet.split() if word not in stop_words)
    processed_tweet = " ".join(word for word in processed_tweet.split() if word not in custom_stopwords)
    processed_tweet = " ".join(Word(word).lemmatize() for word in processed_tweet.split())
    return(processed_tweet)

df['Processed Tweet'] = df['text'].apply(lambda x: preprocess_tweets(x, custom_stopwords))

In [268]:
!pip install rake-nltk

Collecting rake-nltk
  Downloading rake_nltk-1.0.6-py3-none-any.whl (9.1 kB)
Requirement already satisfied: nltk<4.0.0,>=3.6.2 in c:\programdata\anaconda3\lib\site-packages (from rake-nltk) (3.6.5)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk<4.0.0,>=3.6.2->rake-nltk) (8.0.3)

WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -equests (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -equests (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -equests (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -equests (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -equests (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -equests (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -equests (c:\programdata\anaconda3\lib\site-packages)

Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk<4.0.0,>=3.6.2->rake-nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk<4.0.0,>=3.6.2->rake-nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk<4.0.0,>=3.6.2->rake-nltk) (4.62.3)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk<4.0.0,>=3.6.2->rake-nltk) (0.4.4)
Installing collected packages: rake-nltk
Successfully installed rake-nltk-1.0.6

In [270]:
from rake_nltk import Rake

In [ ]:
r = Rake()